In [1]:
import pandas as pd
import requests
movies = pd.read_csv("movieData/final_movies_data.csv")

In [2]:
movies

,id,title,poster_path,tags
0,758323,The Pope's Exorcist,/9JBEPLTPSm0d1mbEcLxULjJq9Eh.jpg,Horror Mystery Thriller Father Gabriele Amorth...
1,667538,Transformers: Rise of the Beasts,/gPbM0MK8CP8A174rmUwGsADNYKD.jpg,Action Adventure Science Fiction When a new th...
2,640146,Ant-Man and the Wasp: Quantumania,/qnqGbB22YJ7dSs4o6M7exTpNxPz.jpg,Action Adventure Science Fiction Super-Hero pa...
3,677179,Creed III,/cvsXj3I9Q2iyyIo95AecSd1tad7.jpg,Drama Action After dominating the boxing world...
4,502356,The Super Mario Bros. Movie,/qNBAXBIQlnOThrVvA6mA2B5ggV6.jpg,Animation Family Adventure Fantasy Comedy Whil...
...,...,...,...,...
14995,605542,Lost in the Night,/UzFNnLwCDMa5E9oKLh2fSwKRsF.jpg,Drama Emiliano lives in a small mining town in...
14996,429691,Mind Blown,/59xSj93nnF9UG6kNoI62hlq11Gw.jpg,Science Fiction TV Movie In Los Angeles the Ea...
14997,653601,Horse Girl,/hNQ7st9dFXUXENMcsAuVxcrIBfA.jpg,Drama A socially awkward woman with a fondness...
14998,443009,"Don't Worry, He Won't Get Far on Foot",/rKsiN37qMt8jad5GikZzSeevyI9.jpg,Comedy Drama On the rocky path to sobriety aft...
14999,19494,Nine to Five,/3nm6kWMFzxGtJb4UEuDB0lDWpcD.jpg,Comedy Frank Hart is a pig. He takes advantage...

In [31]:
def get_movie_details(movie):
    apikey = "67563d5737e9fd5ced1250495eaae39b"
    movie_id = movies.loc[movies["title"].str.lower() == movie.lower()][:1].id.squeeze()
    print(movie_id)
    url = f"https://api.themoviedb.org/3/movie/{movie_id}?api_key={apikey}&language=en-US"
    movie_details = requests.get(url)
    data = movie_details.json()
    return data

In [32]:
data = get_movie_details("spider-man")

557

In [13]:
data

{'adult': False,
 'backdrop_path': None,
 'belongs_to_collection': None,
 'budget': 10000,
 'genres': [],
 'homepage': '',
 'id': 538,
 'imdb_id': 'tt0485662',
 'original_language': 'en',
 'original_title': 'Janine F.',
 'overview': 'The humorous portrait of a female artist. The film follows the career of 24-year-old Janine F. who in 2002 caused a commotion from the rooftop of a Berlin building.',
 'popularity': 1.13,
 'poster_path': None,
 'production_companies': [],
 'production_countries': [{'iso_3166_1': 'DE', 'name': 'Germany'}],
 'release_date': '2004-02-11',
 'revenue': 0,
 'runtime': 52,
 'spoken_languages': [{'english_name': 'German',
   'iso_639_1': 'de',
   'name': 'Deutsch'}],
 'status': 'Released',
 'tagline': '',
 'title': 'Janine F.',
 'video': False,
 'vote_average': 5.0,
 'vote_count': 1}

In [16]:
movies[movies["title"]== "The Avengers"]

,id,title,poster_path,tags
212,24428,The Avengers,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Science Fiction Action Adventure When an unexp...
6094,9320,The Avengers,/1p5thyQ4pCy876HpdvFARqJ62N9.jpg,Thriller Science Fiction Action Adventure Brit...

In [1]:
import os

In [2]:
apikey = os.environ.get("tmdb-api-key")